---
- name: Configure Streamlit Dashboard
  hosts: streamlit
  become: yes

  vars:
    app_user: streamlit
    app_dir: /opt/streamlit
    python_packages:
      - streamlit
      - pandas
      - boto3
      - pyathena
      - plotly
      - awswrangler

  roles:
    - streamlit
